[mysql]
default-character-set=utf8

[mysqld]
datadir = /var/lib/mysql # dossier qui stockera notre base de données
socket  = /run/mysqld/mysqld.sock # endroit où MySQL peut trouver la socket pour communiquer avec
bind_address=* # toutes les IP du réseau peuvent se connecter
port = 3306 # port utilisé pour communiquer
user = mysql # utilisateur